:root {
  --color-background: white;
  --color-link: black;
  --color-link-background: #d8d8d8;
  --color-heading: black;
  --color-text: #6c6c6c;
  --color-icon: #949494;
  --color-icon-hover: #525252;
  --color-line: var(--color-link-background);
  --color-technology-bg: var(--color-icon);
  --color-technology-fg: var(--color-background);
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-link: rgba(255, 255, 255, 0.87);
    --color-heading: rgba(255, 255, 255, 0.87);
    --color-background: #121212;
    --color-text: rgba(255, 255, 255, 0.5);
    --color-icon: rgba(255, 255, 255, 0.5);
    --color-icon-hover: rgba(255, 255, 255, 0.5);
    --color-line: rgba(255, 255, 255, 0.2);
    --color-link-background: rgba(255, 255, 255, 0.15);
    --color-technology-fg: rgba(255, 255, 255, 0.32);
    --color-technology-bg: rgba(255, 255, 255, 0.09);
  }
}
